@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

body {
    margin: 0;

}

:root {
    --a-color: #2691d9;
    --b-color: #e74c3c;
}

.nav__tieude {
    background-color: rgb(251, 71, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
}

.div__full {
    background-color: white;

}

div.menu {

    display: flex;
    /* justify-content: space-between; */
}

.menu #menu__i {
    position: absolute;
    left: 10px;
    top: 3px;

}

.nav__trai {
    margin-top: 1vw;
    position: absolute;
    top: 0;
    /* left: 0; */
    width: auto;


}

.nav__phai {
    top: 0;
    right: 0;
    position: absolute;
    margin-top: 1vw;
    display: flex;
    width: auto;
}
a:hover {
    cursor: pointer;
}

.trangchu {
    border-right: 1px solid #000;
}
.thongbao {
    position: relative;
    border-right: 1px solid #000;
    padding-left: 10px;
    margin-right: 10px;
}
.thongbao a i {
    position: relative;

}
.thongbao a i span {
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    width: 20px;
    position: absolute;
    top: -9px;
    right: -6px;
    font-size: 12px;
    background-color: red;
    border: 50px;
}
.thongbao ul {
    position: absolute;
    width: 300px;
    height: auto;
    background-color: #bebcbc;
    right: -51px;
    top: 11px;
    padding-left: 10px;
    display: none;
}
.thongbao ul a {

    color: #000;
    width: 290px;
    display: flex;
    margin-top: 10px;
    border-bottom: 1px solid #000;

}
.thongbao ul a:hover {
    color: #000;
    background-color: aliceblue;
    
    }
.thongbao ul a img {
    padding-bottom: 10px;
    object-fit: cover;
    width: 70px;
    height: 70px;
}
.thongbao ul a p {
    padding-left: 10px;
    font-size: 18px;
 }
.thongbao:hover ul {
    display: block;
    animation: fadeIn linear 0.5s;

}
p {
    margin-top: 5px;
    padding-right: 10px;
    font-size: 15px;
}
.nav__phai a {
    color: white;
    padding-right: 10px;
    font-size: 25px;
}

.nav__phai a:hover,
.nav__trai a:hover {
    color: rgba(255, 255, 255, 0.7);
}

.nav__trai a {
    color: white;
    font-size: 25px;
    margin-left: 10px;
    /* font-size: 99%; */
}

.nav__overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.2s;
}

.nav__mobile {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    max-width: 100%;
    background-color: #f0ecec;
    transform: translateX(-100%);
    opacity: 0;
    transition: all linear 0.2s;
}

.mobile__close {
    color: #666;
    font-size: 30px;
    position: absolute;
    top: 5px;
    right: 0;

}

.mobile__menu {

    margin-top: 30px;
    padding-left: 20px;
    border-bottom: 1px solid #000;
}
.mobile__menu a:hover {
color: rgb(251, 71, 0);
}

.mobile__menu a {
    font-size: 20px;
}

.nav__input:checked~.nav__overlay {
    display: block;
}

.nav__input:checked~.nav__mobile {
    opacity: 1;
    transform: translateX(0%);
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* sử lí đơn giản  */
label:hover {
    cursor: pointer;
}

a {
    font-size: 2vw;
    text-decoration: none;
    color: #000;
}

li a {
    font-size: 2vw;
}

.timkiem input {
    margin-bottom: 10px;
    width: 118%;
    height: 3vw;
}
i:hover {
    cursor: pointer;
}
.timkiem .ul__giohang {
    position: absolute;
    right: -20vw;
    top: -1vw;
    animation: fadeIn2 linear 0.2s;
}
.timkiem .ul__giohang i {
    position: absolute;
    color: #fff;
    cursor: pointer;
    right: 0;
    top: 0;
}
.timkiem .ul__giohang:hover .giohangs {
    display: block;
    animation: fadeIn2 linear 0.4s;
}
.giohangs {
    background-color: #eeeaea;
    border: 1px solid black;
    position: absolute;
    width: 378px;
    height: 386px;
    top: 41px;
    right: -156px;
    padding: 0;
    margin: 0;
    display: none;

}
.giohangs div input {
    background-color: rgb(251, 71, 0);
    outline: none;
    border: none;
}
.giohangs div a {
    margin-left: 245px;
}
.giohangs div input:hover {
    cursor: pointer;
}

th {
    padding: 10px 10px 20px 10px;
}
td img {
    width: 70px;
    height: 60px;
    object-fit: cover;
}
tr:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}
.timkiem {
    position: absolute;
    text-align: center;
    width: 33.33%;
    top: 54px;
    left: 30%;
}

.timkiem img.logo {
    border-radius: 15vw;
    position: absolute;
    top: -1vw;
    left: -15.5vw;
    width: 70px;
    height: 70px;
}

.timkiem div a {
    font-size: 1.2vw;
    color: rgb(244, 248, 248);
}

.timkiem div a:hover {
    border-bottom: 1px solid white;
}

.timkiem div {
    margin: 0px auto 5px auto;
    width: 120%;
    display: flex;
    justify-content: space-between;
}
.view__sanpham {
    padding-top: 10.2vw;
    width: 100%;
    object-fit: cover;
}

.view__sanpham img {
    object-fit: cover;
    width: 70%;
    height: 30vw;
    border-radius: 5px;
    border: 1px solid #000;
}

.view__sanpham {
    text-align: center;
    background-color: rgba(56, 55, 54, 0.2);
}

.view__thongtin {
    margin: 20px auto;
    width: 80%;
    height: auto;
    background-color: white;
    /* border: 1px solid #000; */
}

.thongtin__sanpham {}

.thongtin__sanpham h2 {}

.thongtin__giaban {

    background: #fafafa;
    padding: 3px;
    width: 90%;
}

.thongtin__giaban h3 {
    margin: 7px 0px;
    color: #ee4d2d;
    font-size: 25px;
}

.thongtin__mausac {
    display: flex;
}

.thongtin__mausac h4 {
    margin-right: 100px;
}

.thongtin__mausac button {
    background: #fff;
    margin: auto 30px;
    height: 25px;
    border: 1px solid #4b4747;
    border-radius: 2px;
    padding: 3px 20px;
    text-align: center;
}

.thongtin__mausac button:hover {
    cursor: pointer;
    color: #e74c3c;
    border: 1px solid #e74c3c;
}

.thongtin__soluong {
    display: flex;
}

.thongtin__soluong h4 {
    margin-right: 100px;
}

.thongtin__soluong div.soluong__mua {
    margin: auto 0;
}

.thongtin__soluong div.soluong__mua input {
    margin: auto 0;
    padding: 0;
    width: 70px;
    height: 17px;
    outline: none;
    text-align: center;
}

.thongtin__soluong div.soluong__mua button {
    cursor: pointer;
}

.thongtin__soluong div.soluong__mua button:hover {
    background-color: #c6bfbf;
}

.thongtin__themvaogiohang button {
    margin: 20px 20px 20px 0px;
    padding: 10px 20px;
    font-size: 17px;
    border-radius: 3px;
    cursor: pointer;
}

.thongtin__themvaogiohang button.themvao {
    background: #fff4f4;
    border: 1px solid #ee4d2d;
    color: #ee4d2d;
}



.thongtin__themvaogiohang button.muangay {
    background: #ee4d2d;
    border: 1px solid #ee4d2d;
    color: #fff;
}

/* sử lí phần div__view  */
/* sử lí phần footer */
.div__view {
    width: 100%;
}

.ketthuc {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    border-top: 1px solid #000;
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
}

.ketthuc h4 {
    font-size: 20px;
    text-align: center;
}

.ketthuc div a {
    font-size: 12px;

}

.ketthuc div {
    padding-bottom: 1vw;

}

.ketthuc div a:hover {
    color: #e74c3c;
    border-bottom: 1px solid var(--b-color);
}

.ketthuc__thanhtoan a img {
    width: 7vw;
    height: auto;
    border: 1px solid #000;
    box-shadow: #9b3e34;
}

.ketthuc__chamsoc,
.ketthuc__diachi,
.ketthuc__thanhtoan {

    padding-right: 5px;
}

.email a {
    font-size: 2vw;
}

.hotline {
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0;
    height: 62px;
}

.hotline__lienhe {
    background-color: white;
    border: 2px solid #ee4d2d;
    color: #ee4d2d;
    width: 50%;
    border-radius: 0px;
}

.hotline__chat {
    border: none;
    background-color: #ee4d2d;
    color: white;
    width: 50%;
    border-radius: 0px;
}

.hotline__lienhe h4,
.hotline__chat h4 {
    font-size: 13px;
    margin: 0;
}

.div__chat {

    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #2691d9;
    position: fixed;
    right: 25px;
    bottom: 30px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.div__chat i {
    font-size: 32px;
    color: white;
}

.boxchat {
    position: fixed;
    bottom: 30px;
    right: 22px;
    border-radius: 15px;
    width: 300px;
    height: auto;
    display: none;
    animation: fadeIn2 linear 0.2s;


}

.boxchat__head {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: space-between;
    background-color: var(--b-color);
}

.boxchat__head img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px;

}

.boxchat__head h3 {
    color: #fff;
    padding-top: 33px;
    padding-right: 83px;
}

.boxchat__head i {
    font-size: 30px;
    margin-top: 10px;
    margin-right: 10px;
}

.boxchat__content {
    background-color: #fff;
    border: 1px solid var(--a-color);
}

.content__title p {

    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

.content__loichao {
    display: flex;
    padding-bottom: 150px;
}

.content__loichao img {
    border: 1px solid #000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: -1px 15px 15px 10px;

}

.content__loichao div {
    padding: 10px 10px 10px 5px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: var(--a-color);
}

.boxchat__text {
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid var(--a-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxchat__text input {
    outline: none;
    width: 70%;
    border: none;

}

.boxchat__text i {
    width: 19%;
    font-size: 30px;
}

.boxchat__text i:hover {
    color: var(--a-color);
}

#chatbox__input:checked~.boxchat {
    display: block;

}

@keyframes fadeIn2 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* sử lí phần footer */